.products {
  margin-bottom: 40px;
}

.products .product-list {
  margin-bottom: 3rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap:5rem;
  align-items: center;
  justify-content: center;

}
